# Logs and Diagnostic Reports
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime Data
/pids
*.pid
*.seed
*.pid.lock

# Dependency Directories
/node_modules/
/bower_components/
/jspm_packages/
/web_modules/

# Build and Compilation Output
/lib-cov
/coverage
*.lcov
.nyc_output
/build/Release
*.tsbuildinfo

# Caches and Temporary Files
.grunt
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.cache
.parcel-cache
.fusebox/
.docusaurus
.serverless/
.dynamodb/
.tern-port
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Configuration Files
.lock-wscript
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.node_repl_history

# Distribution and Output Directories
.next
out
.nuxt
dist
.vuepress/dist
.temp
.cache

# Miscellaneous
*.tgz
.yarn-integrity
.vscode-test